<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<th:block th:fragment="excel">
    <!--/*
    원본 SheetJS 파일
    <script src="/js/xlsx.full.min.js"></script>
    현재 사용중인 SheetJS 파일은 기존 SheetJS 무료버전에서 지원하지 않던 스타일을 지원하기 위해
    SheetJS의 원본 소스를 Fork 하여 수정된 파일
    https://gitbrent.github.io/xlsx-js-style/
    */-->
    <script lang="javascript" src="/js/xlsx.js"></script>
    <script src="/js/excel_js.js"></script>
</th:block>
</html>